name: Daily Quote Email

on:
  schedule:
    # Runs at 7:00 AM UTC every day
    - cron: '0 7 * * *'
  workflow_dispatch: # allows manual trigger

jobs:
  send_quote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install --upgrade pip

      - name: Run main.py
        env:
          MY_EMAIL: ${{ secrets.ty_python_gmail_em }}
          MY_PASSWORD: ${{ secrets.ty_python_gmail_pas }}
          TO_EMAIL: ${{ secrets.tr_bd_yr_gm_em }}
        run: python main.py
